$bg: #d0b3c8;
$key-color: #EA64A0;
$gray: #3E3A39;

body {
  font-family: YuGothic, maryo, sans-serif;

}

section {
  padding: 80px 0;
  position: relative;
  &.header-section {
    background: $bg;
  }

  h1 img {
    max-width: 700px;
    width: auto;
    height: auto;
  }
  .lead {
    color: $gray;
    text-align: center;
  }
}

.coming {
  background: $gray;
  color: #fff;
  overflow: hidden;
  .container{
    position: relative;
    z-index: 1;
    overflow: visible;
  }

  h2{
    margin-bottom: 20px;
    font-family: "BenchNine", sans-serif;
    font-size: 60px;
  }

  &-date{
    margin-bottom: 60px;
  }

  form{
    margin: 40px 0;
    .btn-primary{
      background-color: $key-color;
      border-color: darken( $key-color, 10 );
      cursor: pointer;
    }
  }

  h3{
    color: #aaa;
    font-weight: bold;
  }

  &-note{
    color: #ccc;
  }
}





.features {

  &-title {

    margin: 0 0 60px;
    text-align: center;
    color: #888;
  }

  &-item {
    position: relative;
    margin-bottom: 60px;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;

  }
  &-content {
    padding-left: 100px;
    p {
      color: #888;
      text-align: justify;
      text-justify: inter-ideograph;
    }
  }
  .fa {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
  }
  @each $var in (
    server silver,
    phone #E4B9D6,
    plug #5D4820,
    paint-brush #C15488
  ) {
    $class_name: nth($var, 1);
    $color: nth($var, 2);
    .fa-#{$class_name}{
      color: $color;
      & + div h3:first-letter{
        color: $color;
        font-weight: bold;
      }
    }

  }
}

footer {
  text-align: center;
  padding: 20px;
  color: #fff;
  background: $bg;
  p {
    margin: 0;
    font-size: 14px;
    font-family: "Courier New", monospace;
  }
}

@keyframes slidein {
  0% {
    right: -100%;
  }
  100%{
    right: 80%;
  }
};

@keyframes look-round {
  0%{
    transform: scale(1, 1);
  }
  100%{
    transform: scale(-1, 1);
  }
}

@keyframes slideout {
  0%{
    right: 80%;
    transform: scale(-1, 1);
    opacity: 1;
  }
  2%{
    opacity: 0;
  }
  99%{
    right: -80%;
    transform: scale(-1, 1);
  }
  100%{
    right: -100%;
    transform: scale(1, 1);
  }
}

// Kunoichi
.coming .icon {
  position: absolute;
  z-index: 2;
  max-width: 200px;
  width: 200px;
  height: 295px;
  transition: width .3s linear,
  height .3s linear;
  @media only screen and (max-width: 768px) {
    width: 150px;
    height: 222px;
  }
  opacity: 1;
  bottom: 0;
  right: -100%;
  &.animating{
    animation-name: slidein, look-round, slideout;
    animation-delay: 0s, 1s, 2.5s;
    animation-duration: 1s, .1s, 1s;
    animation-iteration-count: 1, 5, 1;
    animation-fill-mode: forwards, forwards, forwards;
  }
}


@import url(https://fonts.googleapis.com/css?family=BenchNine:700);